<h1>
	Edit User
</h1>

	<div id="signup">
	<%= image_tag @user.avatar.url(:medium) %>
		<%= form_for @user, method: :put do |f| %>
		<%= f.label :username, 'Username' %><br>
		<%= f.text_field :username %><br>
		<%= f.label :password, 'Password' %><br>
		<%= f.text_field :password %><br>
		<%= f.label :fname, 'First Name' %><br>
		<%= f.text_field :fname %><br>
		<%= f.label :lname, 'Last Name' %><br>
		<%= f.text_field :lname %><br>
		<%= f.label :gender, 'Gender' %><br>
		<%= f.text_field :gender %><br>
		<%= f.label :age, 'Age' %><br>
		<%= f.text_field :age %><br>
		<%= f.label :email, 'Email' %><br>
		<%= f.text_field :email %><br>
		<%= f.label :city, 'City' %><br>
		<%= f.text_field :city %><br>
		<%= f.label :country, 'Country' %><br>
		<%= f.text_field :country %><br>
		<br>
		<%= f.submit 'Update' %>
		<% end %>
		<br><br><br><br>
		<%= form_for @user, method: :delete do |f| %>
		<%= f.submit 'Delete Account' %>
		<% end %>
		
	</div>