<center>
	<% if current_user %>

		<div>
			<% @users.each do |user| %>
		</div>
			<div>
				<%= link_to user.fname + " " + user.lname, user %>
			</div>
		<div>	
			<% end %>
		</div>
	
	<% else %>
<p id="signup">
	Need an Account? <%= link_to "Sign Up!", signup_path %> 
</p>
		<div id="login">
			<%= form_for :session, url: login_path do |f| %>
			<%= f.label :username, 'Username' %><br>
			<%= f.text_field :username %><br>

			<%= f.label :password, 'Password' %><br>
			<%= f.password_field :password %><br>
			<br>
			<%= f.submit 'Log In' %>

			<% end %>	
		</div>
	<% end %>
</center>
