<!DOCTYPE html>
<html>
<head>
  <title>Newex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="style.css.erb">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<center><h3>
<nav>
<!-- need reminder on how to properly reference the paths/views in the navigator below -->
	<ul id="nav">
	<%if current_user %>
		<li>
			<%= link_to "Home", home_path %> | 
		</li>
		<li>
			<%= link_to "Profile", user_path(User.find_by_id(current_user.id)) %> | 
		</li>
		<li>
 			<%= link_to current_user.fname + "'s Posts", user_posts_path(current_user.id) %> |
		</li>
		<li>
			<%= link_to "Postfeed", posts_path %> | 
		</li>
		<li>
			<%= link_to "Account", edit_user_path(current_user.id) %> | 
		</li>
		<li>
			<%= link_to "Sign Out", logout_path, method: :delete %>
		</li>

	<% end %>		
	</ul>
</nav>
<div id="spinner">
	<img src="/images/35.jpg">
</div>
	<h1>
		Welcome Animal Lovers!
	</h1>
<%= flash[:notice] if flash[:notice] %>
<%= flash[:alert] if flash[:alert] %>
<%= yield %>
</h3></center>
</body>
</html>

